.result-display {
    width: 88%;
    height: 65px;
    background-color: #E48EA5;
    float: right;
    border-radius: 20px;
        margin-right: 30px;
    .wrapper {
        text-align: right;
        padding: 0 20px 0 30px;
        p {
            font-size: 25px;
            color: #fff;
            font-weight: 500;
        }
    }
}